<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/phaser.min.js"></script>
        <script src="js/roomMain.js"></script>
        <script src="js/roomA.js"></script>
        <script src="js/roomB.js"></script>
        <script src="js/game.js"></script>
    </body>

</html>