<!DOCTYPE html>
<html>
<head>
	<title>Welcome To Gem Hunter's World!</title>
		<style>
				html{
					font-size: 62.5%;
				}
			body{
				background-image: linear-gradient(to bottom left, #7e7e7e, #FF0000);
				font-size: 2rem;
				background-repeat: no-repeat;
    			background-attachment: fixed;
    			margin: 10% 10%;
			}
		</style>
</head>
<body>
	<a style="float: right; font-size: 3rem;" href="about.html">About The Project</a>
	<form action="/game" method="POST">
		<div>
			Name: <input name="search_text" type="text" id="inputItem">

			Color: <select id="color_text" name="color_text">
					<option value="red">red</option>
					<option value="blue">blue</option>
					<option value="yellow">yellow</option>
				</select>
			<input type="submit" value="Submit" id="submitItem">
		</div>
	</form>
</body>
</html>