<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<style>
	#inputs{
		margin-left: auto;
		margin-right: auto;
		width: 8em;
	}
	
	body{
		background-color:grey;
	}
	
</style>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About Us</a></li>
			</ul>
		</div>
	</nav>
	<div id="Titles">
		<h1 style="text-align: center; color: white;">
			Welcome to <strong>Gem Collector</strong>!
		</h1>
	</div>

	<form id="inputs" action="/game" method="POST">
		<div>
			Name: <input name="search_text" type="text" id="inputItem">

			Color: <select id="color_text" name="color_text">
					<option value="red">red</option>
					<option value="blue">blue</option>
					<option value="yellow">yellow</option>
				</select>
			<input type="submit" value="Submit" id="submitItem">
		</div>
	</form>
</body>
</html>