<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style>







</style>
<body>
	<form action="/game" method="POST">
		<div>
			Name: <input name="search_text" type="text" id="inputItem">

			Color: <select id="color_text" name="color_text">
					<option value="red" class="red">red</font></option>
					<option value="blue"class="blue">blue</option>
					<option value="yellow">yellow</option>
					<option value="green">green</option>
				</select>
			<input type="submit" value="Submit" id="submitItem">
		</div>
	</form>
</body>
</html>